@page
@model ZooBazzarWebApp.Pages.ChangeCredentialsModel
@{
    Employee e = Model.employee;
    Layout = "MyLayout";
}
@using Entities;

<link rel="stylesheet" href="./css/MyProfile.css">

<form method="post">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="personalInfo">
        <label class="label"> Name:</label> <span asp-validation-for="Employee.Name"></span>
        <input class="cred" asp-for="Employee.Name" id="name" value=@e.Name>
        <label class="label"> Surname:</label> <span asp-validation-for="Employee.Lastname"></span>
        <input class="cred" asp-for="Employee.Lastname" id="surname" value=@e.Lastname>
        <label class="label"> Email:</label> <span asp-validation-for="Employee.Email"></span>
        <input class="cred" asp-for="Employee.Email" id="email" value=@e.Email>
        <label class="label"> Adress:</label> <span asp-validation-for="Employee.Address"></span>
        <input class="cred" asp-for="Employee.Address" id="adress" value=@e.Address>
        <label class="label"> Birth Date:</label> <span asp-validation-for="Employee.Birthdate"></span>
        <input class="cred" asp-for="Employee.Birthdate" id="birthdate" type="datetime-local" value=@e.Birthdate>
        <label class="label"> BSN:</label> <span asp-validation-for="Employee.Bsn"></span>
        <input class="cred" asp-for="Employee.Bsn" id="bsn" value=@e.Bsn>
        <label class="label">  Phone:</label> <span asp-validation-for="Employee.Phone"></span>
        <input class="cred" asp-for="Employee.Phone" id="phone" value=@e.Phone>
        <label class="label"> EmargencyContact:</label> <span asp-validation-for="Employee.EmargencyContact"></span>
        <input class="cred" asp-for="Employee.EmargencyContact" id="EmargencyContact" value=@e.EmargencyContact>
        <input class="button" type="submit" value="Request Changes" />


    </div>

</form>

@section scripts{
<partial name="_ValidationScriptsPartial" />
}