@page
@model ZooBazzarWebApp.Pages.LoginModel
@{
    Layout = "_LayoutNoFooter";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login ZooBazzar</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/LoginDesign.css">

</head>
<body>

    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>ZooBazzar</h1>

            </div>
        </div>


        <div class="right">
                <form method="post">
            <h5>Login</h5>
            <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
            <div class="inputs">
                    <input asp-for="Account.Username" type="text" placeholder="user name" />
                     <span class="validation-message text-danger" asp-validation-for="Account.Username"></span>

                    <br>
                    <input asp-for="Account.Password" type="password" placeholder="password">
                    <span class="validation-message text-danger" asp-validation-for="Account.Password"></span>
            </div>

            <br><br>

            <div class="forget-password">


                <a href="#">Forgot your password? Click here</a>
            </div>

            <br>
            <button>Login</button>
                </form>
        </div>

    </div>

</body>
</html>
