@page
@model ZooBazzarWebApp.Pages.RequestVacationModel
@{
    Layout = "MyLayout";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<form method = "post">

    <div class="vacation">
        
        <label class="vacation"> Vacation start date:</label> <span asp-validation-for="@Model.Request.StartDate"></span>
        <input class="date" asp-for="@Model.Request.StartDate" type="datetime-local" id="date">

        <label class="vacation"> Vacation end date:</label> <span asp-validation-for="@Model.Request.EndDate"></span>
        <input class="date" asp-for="@Model.Request.EndDate" type="datetime-local" id="date">

        <button class = "btnRequest" type="submit">Request a vacation</button>

    </div>
</form>

@section scripts{
<partial name="_ValidationScriptsPartial" />
}