html {
    font-size: 20px;
    background-color: #2a3130;
}

.schedule-card {
    background-color: #1c3d40;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}
 .schedule-card .information {
        
     margin-left: 10px; 
}
    .schedule-card .information .color {
        background-color: #3c9017;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

table, td {
    border: 1px solid;
    min-width: 150px;
    width: auto;
    height: 50px;
    align-content: center;
    font-size: 25px;
    background-color: #9ab1b7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 10px;
    color: #1c3d40;
    font-weight: 800;
}

.button {
    min-width: 150px;
    width: auto;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #2a3130;
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
}

.free {
    background-color: rgba(82, 89, 81, 0.62);
}


.shift:hover {
    background-color: #537477;
}

h1 {
    text-align: center;
}

.btn {
    background-color: #9ab1b7;
    min-width: 200px;
    min-height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

#info {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    color: #f0e0b5;
}

#info p{
    font-size: 20px;
}